*
{
    box-sizing: border-box;
}

p{
    color: blue;
    position: relative;
}
p::first-letter{
    font-style:italic;
    font-family: cursive;
}
p::first-line{
    background-color: rgb(192, 179, 205);
}
p::before{
    content: "“";
    position: absolute;
    top: -10px;
}
p::after{
    content: "”";
}

















/*
p{
    color: gray;
    cursor: crosshair;
    font-size: 20px;
    border: 1px solid black;
    position: relative;

}
p::before{
   content: "♥";
   color: red;
   background-color: pink;
   border-radius: 50%;
   object-fit: cover;
   position: absolute;
   top: 5px;
   left: 10px;
   opacity: 0.2;/*прозорість псевдоелемента*/
   
/*
}
p::after{
    content: "♥";
    color: red;
    background-color: pink;
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0.2;/*прозорість псевдоелемента*/
   
 /*
 }